/*  SECTIONS  */
* {
  box-sizing: border-box;
}

body {
  font-family: Lato;
  margin: 10px;
  text-align: center;
}

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1%;
}
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.5%;
}

#counties a:hover {
  cursor: pointer;
}

#counties a path {
  -webkit-transition: fill 0.5s ease;
  fill: #95a5a6;
}

#counties a polyline {
  -webkit-transition: fill 0.5s ease;
  fill: #95a5a6;
}

#counties a polygon {
  -webkit-transition: fill 0.5s ease;
  fill: #95a5a6;
}

#counties a:hover path {
  transition: fill 0.5s ease;
  -moz-transition: fill 0.5s ease;
  -webkit-transition: fill 0.5s ease;
  fill: #425957 !important;
}

#counties a:hover polyline {
  transition: fill 0.5s ease;
  -moz-transition: fill 0.5s ease;
  -webkit-transition: fill 0.5s ease;
  fill: #425957 !important;
}

#counties a:hover polygon {
  transition: fill 0.5s ease;
  -moz-transition: fill 0.5s ease;
  -webkit-transition: fill 0.5s ease;
  fill: #425957 !important;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_2_of_2,
  .span_1_of_2 {
    width: 100%;
  }
}
